{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ハッスルについて</title>
    <link rel="stylesheet" type="text/css" href="{% static 'volunteer/css/ハッスル.css' %}">
</head>
<body>
    <div class="background"></div>
    <header>
        <div class="header-container">
            <button class="menu-toggle" aria-label="メニューを開く">
                <a><h1 class="site-title">UNITED HAPPINESS</h1></a>
            </button>
        </div>
        <ul class="navbar">
            <li><a href="{% url 'top' %}">トップページ</a></li>
            <li><a href="{% url 'about' %}">我々について</a></li>
            <li><a href="{% url 'organization_list' %}">団体一覧</a></li>
            <li><a href="{% url 'contact' %}">ご意見や相談</a></li>
        </ul>
    </header>
    <header style="text-align: center; padding: 20px; background-color: #f9f9f9;">
        <img src="{% static 'images/UNITED HAPPINESS-.png'%}" alt="United Happiness Logo" style="width: 150px;">
        <h1 style="font-family: 'Arial', sans-serif; margin: 10px 0;">UNITED HAPPINESS</h1>
        <p style="font-size: 14px; color: #555;">Connecting people, holding hands, happiness to everyone</p>
    </header>
    <div class="contenting">
    <main >
    <h1>ハッスルについて</h1>
    <p>
        ハッスルはNPO法人です。
        主に福島の被災障がい者の「仕事づくり」を行っています。
    </p>
    <p>
        主な活動分野としては、
        <ul>
            <li>保健・医療・福祉</li>
            <li>まちづくり</li>
            <li>学術・文化・芸術・スポーツ</li>
            <li>災害救援</li>
            <li>人権擁護・平和</li>
            <li>子どもの健全育成</li>
            <li>職能開発・雇用拡充</li>
        </ul>
        です。
        
    </p>
    <script src="{% static 'volunteer/js/default.js' %}"></script>
    </main>
</div>
</body>
</html>