{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>団体一覧</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>団体一覧</h1>
    <p>ここにリストを作成します。</p>
    <nav>
        <ul>
            <li><a href="{% url 'top' %}">トップページ</a></li>
            <li><a href="{% url 'about' %}">我々について</a></li>
            <li><a href="{% url 'contact' %}">ご意見や相談を受ける</a></li>
        </ul>
    </nav>
</body>
</html>