{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>団体一覧</title>
    <link rel="stylesheet" type="text/css" href="{% static 'volunteer/css/default.css' %}">
</head>
<body>
    <header>
        <div class="header-container">
            <h1 class="site-title">UNITED HAPPINESS</h1>
            <button class="menu-toggle" aria-label="メニューを開く">
                ☰
            </button>
        </div>
        <ul class="navbar">
            <li><a href="{% url 'top' %}">トップページ</a></li>
            <li><a href="{% url 'about' %}">我々について</a></li>
            <li><a href="{% url 'organization_list' %}">団体一覧</a></li>
            <li><a href="{% url 'contact' %}">ご意見や相談を受ける</a></li>
        </ul>
    </header>
    <main>
    <h1>団体一覧</h1>
    <div class="contents">
        <div class="content">
            <h3><a href="{% url '〇〇' %}">〇〇</a></h3>
            <img src="picture/natsumi.jpg" alt="〇〇">
            <p>短い説明</p>
            <a href="https://twitter.com/akabaneramen">〇〇の公式サイト</a>
        </div>
        <div class="content">
            <h3>××</h3>
            <img src="picture/ito.jpg" alt="××">
            <p>短い説明</p>
            <a href="https://www.niboshi-ito.com/">××の公式サイト</a>
        </div>
    </div>
    </main>
    <script src="{% static 'volunteer/js/default.js' %}"></script>
</body>
</html>